<div class="main">
  <div class="container">
    <div class="main__in">
      <h3 class="main__title title">Викиди небезпечних речовин в атмосферне повітря</h3>
      <h4 class="main__subtitle">Методологічні основи щодо обліку викидів небезпечних речовин в атмосферне повітря</h4>

      <div class="main__text">
        <p>Методологічні положення визначають методологію, порядок розробки та проведення державного статистичного
          обліку з охорони атмосферного повітря, поширення його результатів, принципи формування сукупності одиниць, які
          охоплюються державним статистичним спостереженням "Охорона атмосферного повітря".
          У рамках державного статистичного спостереження з охорони атмосферного повітря здійснюється облік викидів
          забруднюючих речовин та парникових газів від виробничих та технологічних процесів, технологічного устаткування
          (установок) згідно з рекомендаціями Статистичної комісії Організації Об’єднаних Націй щодо інвентаризації
          атмосферних викидів (CORINАІR 2000), що відповідає міжнародним вимогам до статистичної інформації у сфері
          охорони атмосферного повітря.
          Методологічні положення ґрунтуються на нормах Господарського та Цивільного кодексів України, законів України
          "Про державну статистику", "Про інформацію", "Про охорону атмосферного повітря", "Про державну реєстрацію
          юридичних осіб та фізичних осіб-підприємців", постанов Кабінету Міністрів України від 22.01.1996 № 118 "Про
          затвердження Положення про Єдиний державний реєстр підприємств та організацій України" (у редакції постанови
          Кабінету Міністрів України від 22.06.2005 № 499), від 29.11.2001 № 1598 "Про затвердження переліку найбільш
          поширених і небезпечних забруднюючих речовин, викиди яких в атмосферне повітря підлягають регулюванню", від
          13.12.2001 № 1655 "Про затвердження Порядку ведення державного обліку в галузі охорони атмосферного повітря",
          наказів Держкомстату від 29.12.2009 № 498 "Про затвердження структури плану статистичного спостереження та
          глосарія до нього" і від 21.12.2009 № 481 "Про затвердження Положення про Реєстр статистичних одиниць та
          формування основ сукупностей одиниць статистичних спостережень за діяльністю підприємств".</p>
      </div>

      <h4 class="main__subtitle">Методологічні основи щодо обліку викидів небезпечних речовин в атмосферне повітря</h4>

      <div class="main__text">
        <p>У цих Методологічних положеннях терміни вживаються у значеннях наведених у Глосарії до плану статистичного
          спостереження, затвердженому наказом Держкомстату від 29.12.2009 № 498 [5], та Положенні про Реєстр
          статистичних одиниць та формування основ вибірки сукупностей одиниць статистичних спостережень за діяльністю
          підприємств, затвердженому наказом Державного комітету статистики України від 16.12.2009 № 481 [7].</p>

        <p><b>атмосферне повітря</b> – життєво важливий компонент навколишнього природного середовища, який являє собою
          природну суміш газів, що знаходиться за межами жилих, виробничих та інших приміщень;</p>

        <p><b>викиди</b> – надходження в атмосферне повітря забруднюючих речовин або суміші таких речовин;</p>

        <p><b>викиди забруднюючих речовин та парникових газів у атмосферне повітря від стаціонарних джерел
          забруднення</b> – загальна кількість усіх забруднень, що надійшли в повітряний басейн від стаціонарних джерел
          забруднення, як після проходження пилогазоочисних установок на організованих джерелах забруднення в результаті
          неповного уловлення і очищення, так і без очищення від організованих і неорганізованих джерел забруднення.
          Сюди не включаються викиди забруднюючих речовин у результаті ерозії ґрунтів (пилових бур), лісових пожеж тощо;
        </p>

        <p><b>виробничий процес</b> – систематичне та цілеспрямоване змінювання в часі та просторі кількісних і якісних
          характеристик засобів виробництва й робочої сили для отримання готової продукції з вихідної сировини згідно із
          заданою програмою;</p>

        <p><b>джерело викиду</b> – об'єкт (підприємство, цех, агрегат, установка, транспортний засіб тощо), з якого
          надходить в атмосферне повітря забруднююча речовина або суміш таких речовин;</p>

        <p><b>забруднення атмосферного повітря</b> – зміна складу та властивостей атмосферного повітря в результаті
          надходження або утворення в ньому фізичних, біологічних факторів і (або) хімічних сполук, що можуть
          несприятливо впливати на здоров'я людини та стан навколишнього природного середовища;</p>

        <p><b>забруднююча речовина</b> – речовина хімічного або біологічного походження, що присутня або надходить в
          атмосферне повітря й може прямо або опосередковано справляти негативний вплив на здоров'я людини та стан
          навколишнього природного середовища;</p>

        <p><b>найбільш поширені забруднюючі речовини</b> - викиди яких в атмосферне повітря підлягають регулюванню:
          оксиди азоту, бенз(а)пірен, діоксид та інші сполуки сірки, оксид вуглецю, озон, речовини у вигляді
          суспендованих твердих частинок (мікрочастинки та волокна), свинець і його сполуки, формальдегід;</p>

        <p><b>небезпечні забруднюючі речовини</b> - викиди яких в атмосферне повітря підлягають регулюванню: метали та
          їх сполуки, органічні аміни, леткі органічні сполуки, стійкі органічні сполуки, хлор, бром та їх сполуки, фтор
          і його сполуки, ціаніди, фреони, арсен і його сполуки;</p>

        <p><b>охорона атмосферного повітря</b> – система заходів, пов'язаних із збереженням, поліпшенням і відновленням
          стану атмосферного повітря, запобігання і зниження рівня його забруднення та впливу на нього хімічних сполук,
          фізичних і біологічних факторів;</p>

        <p><b>парниковий газ</b> – газ, який затримує інфрачервоне випромінювання земної поверхні, що призводить до
          глобального потепління на планеті. До основних парникових газів відносяться діоксид вуглецю (СО2), метан
          (CH4), оксид азоту (N2O), гідрофторвуглеці (ГФВ), перфторвуглеці (ПФВ) та гексафторид сірки (SF6);</p>

        <p><b>стаціонарне джерело забруднення</b> – підприємство, цех, агрегат, установка або інший нерухомий об'єкт, що
          зберігає свої просторові координати протягом певного часу та здійснює викиди забруднюючих речовин в атмосферу;
        </p>

        <p><b>технологічний процес</b> – частина виробничого процесу, яка складається з дій, спрямованих на зміну стану
          предмета праці;</p>

        <p><b>технологічне устатковання</b> – засоби технологічного спорядження, у яких для виконання певної частини
          технологічного процесу розміщують матеріали або заготовки, засоби дії на них, а також технологічне оснащення.
        </p>
      </div>

      <h4 class="main__subtitle">Скорочення та умовні позначення:</h4>

      <div class="main__text">
        <p><b>ДСС</b> – Державне статистичне спостереження;</p>
        <p><b>СРП</b> – Статистичний реєстр підприємств;</p>
        <p><b>РСО</b> – Реєстр статистичних одиниць;</p>
        <p><b>Т</b> – рік у якому формується сукупність одиниць державного статистичного спостереження;</p>
        <p><b>КІСЕ</b> – Класифікація інституційних секторів економіки;</p>
        <p><b>КВЕД</b> – Класифікація видів економічної діяльності.</p>
      </div>


    </div>
  </div>
</div>
