.main {

  &__subtitle {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.6;
  }
}
