@import "../../styles/variables";

.header {
  margin-bottom: 40px;
  &__in {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;

    background: transparent url('/assets/img/city.png') left -40px bottom 0 no-repeat;
    border-bottom: 1px solid #076d0b;
  }

  .logo  {
    display: flex;
    img {
      width: 200px;
    }
  }

  &__title {
    text-align: right;

    h1, h2 {
      font-weight: 500;
    }

    h1 {
      color: #076d0b;
    }

    h2 {
      color: #555555;
    }
  }
}

.main-nav {
  padding: 10px 0;
  z-index: 5;

  & ul {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;

    & li {
      padding: 0 5px;

      &:hover > ul {
        display: flex;
      }

      & a {
        display: block;
        color: #555555;
        text-decoration: none;

        &:hover {
          color: #076D0B;
        }
      }

      & ul {
        display: none;
        position: absolute;
        width: 300px;
        flex-flow: column nowrap;

        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 25px 30px 25px;
          border-color: transparent transparent #ffffff transparent;
          text-align: right;
        }

        & li {
          background-color: white;
          border-bottom: 1px solid gray;
          padding: 10px;
          position: relative;

          & a {
            color: #076D0B;
          }

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: #eef4ef;
          }

          &:hover > ul {
            display: flex;
          }

          ul {
            display: none;
            position: absolute;
            width: 300px;
            right: 300px;
            top: 0;

            &:before {
              content: none;
            }

            li {
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

.search {
  display: flex;
  height: 30px;
  input {
    margin-left: auto;
    width: 270px;
    height: 100%;
    border: 1px solid #606060;
    border-radius: 5px;
    background-image: url(/assets/img/mdi_search.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px 20px 5px 5px;
  }
}

.footer {
  padding-bottom: 20px;
  &__in {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__item {
    width: 260px;
  }

  &__title {
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    color: $black;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75px;
      height: 4px;
      background-color: #0acc11;
    }
  }

  &__nav a {
    font-size: 14px;
    text-decoration: none;
    color: $textColor;

    &:hover {
      text-decoration: underline;
    }
  }

  &__contact-in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      font-size: 14px;
      text-decoration: none;
      color: $textColor;
    }
  }

  &__contact-item {
    margin-bottom: 20px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  & p {
    font-size: 14px;
    color: $textColor;
  }

  &__copyright {
    text-align: center;
  }

}

