<div class="main">
  <div class="container">
    <div class="main__in">
      <h3 class="main__title title">Мисливське господарство</h3>
      <h4 class="main__subtitle">Визначення термінів</h4>

      <div class="main__text">
        <p>Для цілей цих Методологічних положень терміни вживаються в тлумаченнях, визначених нормами чинного
          законодавства, глосарієм до плану статистичного спостереження, Положенням про Реєстр статистичних одиниць та
          формування основ вибірки сукупностей одиниць статистичних спостережень за діяльністю підприємств, а також у
          значеннях: Юридична особа – організація, створена і зареєстрована у встановленому законом порядку.</p>

      </div>

      <div class="main__text">
        <p><b>Ідентифікаційні показники</b> – ідентифікаційний код ЄДРПОУ суб'єкта.</p>

        <p><b>Рік звітний</b> – ідентифікаційний код ЄДРПОУ суб'єкта. Класифікаційні показники – реквізити суб'єкта щодо
          його належності до певного виду економічної діяльності, території, організаційно-правової форми господарювання
          та інше згідно з чинними національними класифікаціями.</p>

        <p><b>Рік минулий</b> – календарний період, який розпочинається 1 січня і закінчується 31 грудня включно, в
          якому формуються сукупності одиниць державних статистичних спостережень.</p>

        <p><b>Мисливство</b> – календарний період, який розпочинається 1 січня і закінчується 31 грудня включно та який
          передує звітному року. Крім того, відповідно до чинного законодавства та міжнародних норм при веденні
          мисливського господарства використовуються такі основні поняття:</p>

        <p><b>Мисливське господарство як галузь</b> – вид спеціального використання тваринного світу шляхом добування
          мисливських тварин, що перебувають у стані природної волі або утримуються в напіввільних умовах у межах
          мисливських угідь.</p>

        <p><b>Державний мисливський фонд</b> – сфера суспільного виробництва, основними завданнями якого є охорона,
          регулювання чисельності диких тварин, використання та відтворення мисливських тварин, надання послуг мисливцям
          щодо здійснення полювання, розвиток мисливського собаківництва.</p>

        <p><b>Мисливські угіддя</b> – мисливські тварини, що перебувають у стані природної волі, а також утримуються в
          напіввільних умовах або в неволі в межах угідь державних мисливських господарств.</p>

        <p><b>Користувачі мисливських угідь</b> – ділянки суші та водного простору, на яких перебувають мисливські
          тварини і які можуть бути використані для ведення мисливського господарства.</p>

        <p><b>Упорядкування мисливських угідь</b> – спеціалізовані мисливські господарства, інші підприємства, установи
          та організації, в яких створені спеціалізовані підрозділи для ведення мисливського господарства з наданням у
          їх користування мисливських угідь.</p>

        <p><b>Мисливські тварини</b> – науково обґрунтована оцінка та інвентаризація типів мисливських угідь, видового,
          кількісного та якісного складу мисливських тварин певного господарства або окремого регіону, розроблення (з
          урахуванням природних та економічних умов) режиму ведення мисливського господарства з визначенням заходів щодо
          охорони, раціонального використання, відтворення мисливських тварин, збереження та поліпшення стану угідь.</p>

        <p><b>Біотехнічні заходи</b> – дикі звірі та птахи, що можуть бути об'єктами полювання.</p>

        <p><b>Регулювання чисельності диких тварин</b> – комплекс різноманітних господарських робіт, спрямованих на
          поліпшення умов існування, розмноження та збільшення чисельності мисливських тварин.</p>

        <p><b>Утримання мисливських тварин у напіввільних умовах</b> – вилучення (відстріл і відлов) диких тварин, що
          перебувають у стані природної волі, за умови, що їх чисельність на конкретній території загрожує життю та
          здоров'ю людей, свійських тварин, завдає значних збитків сільському, лісовому чи мисливському господарству,
          порушує природний баланс видів, загрожує існуванню інших видів диких тварин.</p>

        <p><b>Утримання мисливських тварин у неволі</b> – утримання набутих в установленому порядку мисливських тварин у
          штучно створених умовах, у яких вони живляться переважно природними кормами, але не мають можливості вільно
          переміщуватися за межі штучно ізольованої ділянки мисливського угіддя.</p>


      </div>

    </div>

    <h4 class="main__subtitle">Скорочення та умовні позначення:</h4>
    <p>утримання мисливських тварин у відповідних спорудах, де вони не мають можливості живитися природними кормами та
      самостійно виходити за межі таких споруд.</p>
    <div class="main__text">
      <p><b>ДСС</b> – Державне статистичне спостереження;</p>
      <p><b>КВЕД</b> – Класифікація видів економічної діяльності;</p>
      <p><b>КІСЕ</b> – Класифікація інституційних секторів економіки України;</p>
      <p><b>РСО</b> – Реєстр статистичних одиниць;</p>
      <p><b>СРП</b> – Статистичний реєстр підприємств;</p>
      <p><b>Т</b> – рік, у якому формується сукупність одиниць державного статистичного спостереження.</p>
    </div>

  </div>
</div>
