ag-grid-angular {
  margin-bottom: 40px;
}

.main {

  &__btn {
    display: flex;
    justify-content: center;
  }
}

.button-list {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}
