<div class="main">
  <div class="container">
    <div class="main__in">
      <h3 class="main__title title">Утворення відходів та поводження з ними</h3>
      <h4 class="main__subtitle">Методологічні положення щодо обліку відходів</h4>

      <div class="main__text">
        <p>Державне статистичне спостереження щодо утворення та поводження з відходами є складовою державного обліку
          відходів. Спостереження забезпечує отримання таких основних показників державного обліку відходів, як
          утворення, утилізація, видалення, збирання відходів, накопичення їх у місцях видалення та місцях тимчасового
          розміщення. Методологічні положення державного статистичного спостереження щодо утворення та поводження з
          відходами визначають систему показників, інструментарій для його проведення, загальну схему із формування
          сукупності одиниць статистичного спостереження та методи проведення зазначеного державного статистичного
          спостереження та поширення його результатів. Методологічні положення ґрунтуються на нормах Господарського
          кодексу України, Цивільного кодексу України, законів України "Про інформацію", "Про державну статистику", "Про
          державну реєстрацію юридичних осіб та фізичних осіб-підприємців", "Про охорону навколишнього природного
          середовища", "Про відходи", постанов Кабінету Міністрів України від 22 січня 1996 року № 118 (у редакції
          постанови Кабінету Міністрів України від 22 червня 2005 року № 499) "Про затвердження Положення про Єдиний
          державний реєстр підприємств та організацій України", від 1 листопада 1999 року № 2034 "Про затвердження
          Порядку ведення державного обліку та паспортизації відходів", від 3 серпня 1998 року № 1216 "Про затвердження
          Порядку ведення реєстру місць видалення відходів", від 31 серпня 1998 року № 1360 "Про затвердження Порядку
          ведення реєстру об'єктів утворення, оброблення та утилізації відходів", від 12 вересня 1997 року № 1016 "Про
          впорядкування контролю за транскордонним перевезенням відходів і їх утилізацією/видаленням", а також
          відповідно до наказів Держкомстату від 21 грудня 2009 року № 481 "Про затвердження Положення про Реєстр
          статистичних одиниць та формування основ сукупностей одиниць статистичних спостережень за діяльністю
          підприємств" і від 29 грудня 2009 року № 498 "Про затвердження структури плану статистичного спостереження та
          глосарія до нього". Методологічні положення базуються на нормах, викладених у Регламенті (ЄС) Європейського
          Парламенту і Ради від 25 листопада 2002 року № 2150/2002 зі статистики відходів (зі змінами), Директиві
          Європейського Парламенту і Ради від 19 листопада 2008 року № 2008/98/ЄС "Про відходи та скасування деяких
          директив". Вони визначають загальні рамки, в межах яких здійснюється збір, розробка, аналіз і поширення
          статистичних даних щодо основних показників статистики відходів.</p>
      </div>

      <h4 class="main__subtitle">Визначення термінів і основних понять</h4>

      <div class="main__text">
        <p>Для цілей цих Методологічних положень, а також державного статистичного спостереження, терміни вживаються у
          тлумаченнях, визначених Глосарієм до плану статистичного спостереження, Положенням про Реєстр статистичних
          одиниць та формування основ вибірки сукупностей одиниць статистичних спостережень за діяльністю підприємств, а
          також у наведених нижче значеннях:</p>

        <p><b>Базельська конвенція</b> – конвенція про контроль за транскордонним перевезенням небезпечних відходів, їх
          видаленням;</p>

        <p><b>біовідходи</b> – відходи із садів і парків, що біологічно розкладаються, харчові та кухонні відходи з
          домашніх господарств, ресторанів, закладів громадського харчування і роздрібної торгівлі та подібні відходи
          харчової промисловості;</p>

        <p><b>видалення</b> – будь-яка операція, що не є утилізацією, навіть якщо внаслідок такої операції додатково
          відбувається процес утилізації речовин або енергії. Список найбільш важливих операцій з видалення відходів
          затверджений наказом Держстату від 23 січня 2015 року № 24;</p>

        <p><b>виробник відходів</b> – це фізична або юридична особа, діяльність якої призводить до утворення відходів
          (первинний виробник відходів), або той, хто проводить попереднє оброблення, змішування або інші операції,
          унаслідок яких змінюються властивості або склад цих відходів;</p>

        <p><b>власник відходів</b> – фізична чи юридична особа, яка відповідно до закону володіє, користується та
          розпоряджається відходами;</p>

        <p><b>відведені місця чи об'єкти</b> – місця чи об'єкти (місця розміщення відходів), на використання яких
          отримано дозвіл уповноважених органів на видалення відходів чи здійснення інших операцій з відходами;</p>

        <p><b>відпрацьовані оливи (мастила)</b> – будь-які мінеральні або синтетичні мастила, або індустріальні мастила,
          які стали непридатними для використання, для якого вони спочатку призначалися (такі як відпрацьоване мастило з
          двигуна внутрішнього згоряння та мастило з коробки передач, змащувальні мастила, мастила для турбін і
          гідравлічні мастила);</p>

        <p><b>відходи</b> – будь-які речовини чи предмети, від яких власник позбувається, має намір чи зобов'язаний
          позбутися;</p>

        <p><b>відходи гірничовидобувної промисловості (видобувні відходи)</b> – це відходи, що утворюються в результаті
          проведення розвідувальних робіт, видобування, оброблення й зберігання мінеральних ресурсів і розробки
          кар'єрів;</p>

        <p><b>відходи домогосподарств</b> – відходи, зазвичай утворені в результаті нормального функціонування домашніх
          господарств;</p>

        <p><b>відходи пакувальних матеріалів і тари (упаковки)</b> – це використані пакувальні матеріали і тара
          (упаковка), які потрапляють під визначення "відходи". Тобто упаковка стає відходами, якщо не може повторно
          використовуватися;</p>

        <p><b>відходи як вторинна сировина</b> – відходи, для утилізації та переробки яких в Україні існують відповідні
          технології та виробничотехнологічні і/або економічні передумови;</p>

        <p><b>захоронення відходів</b> – остаточне розміщення відходів при їх видаленні у спеціально відведених місцях
          чи на об'єктах таким чином, щоб довгостроковий шкідливий вплив відходів на навколишнє природне середовище та
          здоров'я людини не перевищував установлених нормативів;</p>

        <p><b>зберігання відходів</b> – тимчасове розміщення відходів у спеціально відведених місцях чи об'єктах (до їх
          утилізації чи видалення);</p>

        <p><b>збір відходів</b> – збирання відходів, уключаючи первісне сортування та початкове зберігання відходів з
          метою транспортування до місця обробки відходів;</p>

        <p><b>знешкодження відходів</b> – зменшення чи усунення небезпечності відходів шляхом їх механічного,
          фізико-хімічного чи біологічного оброблення;</p>

        <p><b>компостування</b> – процес видалення рослинних і тваринних відходів шляхом природного біологічного
          руйнування органічної речовини у присутності повітря або механічними способами для підвищення та підтримки
          родючості ґрунту;</p>

        <p><b>небезпечні відходи</b> – відходи, що мають такі фізичні, хімічні, біологічні чи інші небезпечні
          властивості, які створюють або можуть створити значну небезпеку для навколишнього природного середовища і
          здоров'я людини та які потребують спеціальних методів і засобів поводження з ними;</p>

        <p><b>небезпечна речовина</b> – будь-яка речовина, що представляє небезпеку для здоров'я людини та якості
          навколишнього природного середовища. До небезпечних відносяться отруйні, роз'їдаючі, вогнеутворюючі, взривні
          чи хімічно активні речовини;</p>

        <p><b>незабруднений ґрунт</b> – ґрунт, що знятий з верхнього шару землі під час видобувних робіт та який не
          вважається забрудненим відповідно до встановлених екологічних нормативів (ГДК тощо);</p>

        <p><b>об'єкти поводження з відходами</b> – місця чи об'єкти, що використовуються для збирання, зберігання,
          сортування, оброблення, перероблення, утилізації, видалення, знешкодження та захоронення відходів;</p>

        <p><b>обробка відходів</b> – утилізація або видалення відходів, уключаючи попередню підготовку до них;</p>

        <p><b>перевезення відходів</b> – транспортування відходів від місць їх утворення або зберігання до місць чи
          об'єктів оброблення, утилізації чи видалення;</p>

        <p><b>побутові та подібні (муніципальні) відходи</b> – відходи, що утворюються в процесі життя та діяльності
          людини в житлових і нежитлових будинках (тверді, великогабаритні, ремонтні, рідкі, крім відходів, пов'язаних
          із виробничою діяльністю підприємств) і не використовуються за місцем їх накопичення;</p>

        <p><b>поводження з відходами</b> – збирання, перевезення, сортування, зберігання, оброблення, перероблення,
          утилізація, видалення, знешкодження і захоронення відходів, уключаючи контроль за цими операціями та догляд за
          місцями видалення відходів;</p>

        <p><b>повторне використання</b> – будь-яка операція, коли продукти або складові (компоненти), що не є відходами,
          використовуються повторно з тією самою метою, для якої вони були призначені;</p>

        <p><b>повторне використання упаковки</b> – будь-яка дія, за допомогою якої упаковка, призначена та розрахована
          на виконання мінімальної кількості перевезень і використань протягом свого життєвого циклу, стає придатною для
          повторного використання у тих же цілях, для яких вона призначалась;</p>

        <p><b>регенерація (рекуперація)</b> – це відновлення пошкоджених структурних елементів тканини;</p>

        <p><b>рециркуляція відходів</b> – перероблення та використання відходів у процесах виробництва та споживання,
          наприклад, переплавлення металобрухту з метою виробництва нових продуктів з металу;</p>

        <p><b>рідкі відходи</b> – будь-які відходи у рідкому стані, включаючи стічні води, але виключаючи мул;</p>

        <p><b>роздільне збирання</b> – збирання відходів, за якого потоки відходів формуються (йдуть) окремо за їх
          видами та властивостями з метою сприяння специфічному обробленню;</p>

        <p><b>розміщення відходів</b> – зберігання (тимчасове розміщення) та видалення відходів (остаточне розміщення) у
          спеціально відведених для цього місцях чи об'єктах;</p>

        <p><b>сортування відходів</b> – механічний розподіл відходів за їх фізико-хімічними властивостями, технічними
          складовими, енергетичною цінністю, товарними показниками тощо з метою підготовки відходів до їх утилізації чи
          видалення;</p>

        <p><b>спалювання відходів</b> – теплова обробка відходів на спалювальній установці з вилученням або без
          вилучення енергетичних ресурсів. Передбачає операції R1 "Використання у вигляді палива чи іншим чином для
          отримання енергії" та D10 "Спалювання на суші";</p>

        <p><b>спеціально відведені місця та об'єкти видалення</b> – місця чи об'єкти остаточного розміщення відходів, на
          використання яких отримано дозвіл уповноважених органів;</p>

        <p><b>Стокгольмська конвенція</b> – конвенція про стійкі органічні забруднювачі;</p>

        <p><b>тверді відходи</b> – залишки речовин, матеріалів, предметів, виробів, товарів, продукції, що не можуть у
          подальшому використовуватися за призначенням;</p>

        <p><b>транскордонні перевезення</b> – будь-які переміщення небезпечних та інших відходів за умови, що такі
          переміщення зачіпають дві держави;</p>

        <p><b>управління відходами</b> – збір, перевезення, утилізація та видалення відходів, уключаючи нагляд за цими
          операціями та догляд за місцями захоронення відходів;</p>

        <p><b>утилізація відходів</b> – здійснення будь-яких операцій, у результаті яких відходи приносять користь,
          замінюючи інші матеріали, які в іншому випадку були б використані для виконання конкретної функції, або
          відходи, приготовані для виконання такої функції на підприємстві.
          Список найбільш важливих операцій з утилізації затверджений наказом Держстату від 23 січня 2015 року № 24;
          хвости − тверді відходи або шлами, що залишаються після оброблення мінеральних ресурсів у процесі сепарації
          (тобто подрібнення, сортування за фракціями, флотації та інших фізико-хімічних методів) для вилучення більш
          цінних мінеральних складових із менш цінних гірських порід. 2.</p>

        <p>Перелік скорочень ДКВ – ДК 005-96 "Класифікатор відходів", затверджений наказом Держстандарту України від 29
          лютого 1996 року № 89:</p>

      </div>

      <h4 class="main__subtitle">Скорочення та умовні позначення:</h4>

      <div class="main__text">
        <p><b>ДСС</b> – Державне статистичне спостереження;</p>

        <p><b>ЄДРПОУ</b> – Єдиний державний реєстр підприємств та організацій України;</p>

        <p><b>КВЕД-2010</b> – ДК 009:2010 "Класифікація видів економічної діяльності", затверджена наказом
          Держспоживстандарту України від 11 жовтня 2010 року № 457 (зі змінами);</p>

        <p><b>КЕОІ</b> – комплекс електронної обробки статистичної інформації;</p>

        <p><b>КІСЕ</b> – Класифікація інституційних секторів економіки;</p>

        <p><b>КОАТУУ</b> – ДК 014–97 "Класифікатор об'єктів адміністративно територіального устрою України",
          затверджений наказом Держстандарту України від 31 жовтня 1997 року № 659 (зі змінами та доповненнями);</p>

        <p><b>КОДУ</b> – Класифікатор органів державного управління, затверджений наказом Держстату від 07 травня 2013
          року № 143;</p>

        <p><b>МО</b> – місцева одиниця;</p>

        <p><b>ОВД</b> – основний вид економічної діяльності;</p>

        <p><b>РМВВ</b> – Реєстр місць видалення відходів;</p>

        <p><b>РООУВ</b> – Реєстр об'єктів оброблення та утилізації відходів;</p>

        <p><b>РОУВ</b> – Реєстр об'єктів утворення відходів;</p>

        <p><b>РСО</b> – Реєстр статистичних одиниць;</p>

        <p><b>СКОФ</b> – Статистичний класифікатор організаційних форм суб'єктів економіки, затверджений наказом
          Держстату від 29 вересня 2014 року№ 271;</p>

        <p><b>СРП</b> – Статистичний реєстр підприємств; Т – рік, у якому формується сукупність одиниць державного
          статистичного спостереження; ТОД – територіальні органи Держстату.</p>

      </div>

    </div>
  </div>
</div>
