<div class="main">
  <div class="container">
    <div class="main__in">
      <h3 class="main__title title">Витрати на охорону навколишнього природного середовища</h3>
      <h4 class="main__subtitle">Методологічні положення визначають:</h4>

      <div class="main__text">
        <p>- порядок організації, методологію проведення державного статистичного спостереження щодо витрат на охорону
          навколишнього природного середовища підприємств, які здійснюють природоохоронні заходи;</p>

        <p>- порядок розробки вищезазначеного державного статистичного спостереження та поширення його результатів;</p>

        <p>- принципи формування сукупності статистичних одиниць, які охоплюються державним статистичним спостереженням
          за формою №1-екологічні витрати (річна).</p>

        <p>Методологічні положення ґрунтуються на нормах Господарського кодексу України, Цивільного кодексу України,
          законів України "Про інформацію", "Про державну статистику", "Про державну реєстрацію юридичних осіб та
          фізичних осіб-підприємців", "Про охорону навколишнього природного середовища", Податкового кодексу України,
          постанов Кабінету Міністрів України від 22.01.1996 № 118 "Про затвердження Положення про Єдиний державний
          реєстр підприємств та організацій України" (у редакції постанови Кабінету Міністрів України від 22.06.2005 №
          499), від 17.09.1996 №1147 "Про затвердження переліку видів діяльності, що належать до природоохоронних
          заходів", від 07.05.1998 №634 "Про затвердження Положення про Державний фонд охорони навколишнього природного
          середовища", наказів Держкомстату від 21.12.2009 № 481 "Про затвердження Положення про Реєстр статистичних
          одиниць та формування основ сукупностей одиниць статистичних спостережень за діяльністю підприємств", від
          29.12.2009 № 498 "Про затвердження структури плану статистичного спостереження та глосарія до нього", від
          03.08.2010 № 314 "Про затвердження переліку показників державних статистичних спостережень з питань
          навколишнього середовища, на які не розповсюджується заборона щодо поширення органами державної статистики
          первинних даних".</p>

      </div>

      <h4 class="main__subtitle">Визначення термінів</h4>

      <div class="main__text">

        <p>Для цілей цих Методологічних положень терміни вживаються у тлумаченнях, визначених глосарієм до плану
          статистичного спостереження, Положенням про Реєстр статистичних одиниць та формування основ вибірки
          сукупностей одиниць статистичних спостережень за діяльністю підприємств, а також у значеннях:</p>

        <p><b>Підприємство</b> – самостійний господарюючий статутний суб'єкт, який має права юридичної особи та здійснює
          виробничу, науково-дослідницьку і комерційну діяльність з метою одержання відповідного прибутку (доходу).</p>

        <p><b>Юридична особа</b> – організація, створена і зареєстрована в установленому законом порядку.</p>

        <p><b>Ідентифікаційні показники</b> – ідентифікаційний код ЄДРПОУ суб'єкта.</p>

        <p><b>Класифікаційні показники</b> – реквізити суб'єкта щодо його належності до певного виду економічної
          діяльності, території, організаційно-правової форми господарювання та інше згідно з чинними національними
          класифікаціями.</p>

        <p><b>Рік звітний</b> – календарний період, який розпочинається 1 січня і закінчується 31 грудня включно, в
          якому формуються сукупності одиниць державних статистичних спостережень.</p>

        <p><b>Рік минулий</b> – календарний період, який розпочинається 1 січня і закінчується 31 грудня включно та який
          передує звітному року.</p>

        <p>До <b>охорони навколишнього природного середовища</b> відносяться заходи, безпосередньо пов’язані з
          запобіганням, скороченням або усуненням забруднення або іншої шкоди, нанесеної навколишньому природному
          середовищу в результаті виробничої діяльності.</p>

        <p><b>Витрати на охорону навколишнього природного середовища</b> – це всі види витрат держави, підприємств
          (організацій, установ), спрямовані на запобігання, контроль, зменшення чи ліквідацію забруднення навколишнього
          природного середовища та охорону природи, управління природоохоронними ресурсами.</p>

        <p><b>Витрати на природоохоронні заходи</b> – капітальні інвестиції та поточні витрати на охорону навколишнього
          природного середовища.</p>

        <p><b>Капітальні інвестиції</b>, які здійснюються з метою охорони навколишнього природного середовища – це всі
          витрати на обладнання, технічне оснащення, будівництво природоохоронного призначення. Сюди включаються витрати
          на будівництво нових, розширення, реконструкцію, реставрацію, технічне переобладнання діючих підприємств,
          об’єктів, капітальний ремонт і придбання обладнання природоохоронного призначення довгострокового
          користування. У цьому показнику відображаються також витрати на розробку проектної документації, пов’язаної з
          капітальними інвестиціями.</p>

        <p><b>Інвестиційні витрати "на кінці труби"</b> – це інвестиції, які не впливають на виробничий процес, а
          направлені тільки на скорочення пов’язаного з ним забруднення.</p>

        <p><b>Інвестиційні витрати в інтегровані технології</b> – це інвестиції, які призводять до змін/модифікацій
          виробничого процесу, а їх основною метою є скорочення забруднення, при цьому змінюється технологія виробництва
          та знижуються обсяги утворення забруднюючих речовин.</p>

        <p><b>Поточні витрати на охорону навколишнього природного середовища</b> – витрати, які здійснюються на
          підтримку (утримання та експлуатацію) об'єкта (основних засобів природоохоронного призначення) в робочому
          стані. Облік природоохоронних витрат здійснюється за переліком природоохоронних заходів, визначеним у Додатку
          1.</p>

        <p><b>Екологічний податок</b> – загальнодержавний обов'язковий платіж, що справляється із фактичних обсягів
          викидів у атмосферне повітря, скидів у водні об'єкти забруднюючих речовин, розміщення відходів.</p>

        <p><b>Штрафна санкція</b> - плата у вигляді фіксованої суми та/або відсотків, що справляється з платника
          податків у зв'язку з порушенням ним вимог податкового законодавства та законодавства про охорону навколишнього
          природного середовища, контроль за дотриманням яких покладено на контролюючі органи.</p>

        <p><b>Надходження коштів за надання екологічних послуг та від продажу відходів і побічної продукції</b> – це
          кошти, які надійшли підприємству за здійснення робіт, пов’язаних із наданням природоохоронних послуг, а також
          від продажу відходів і побічної продукції, яка утворюється при здійсненні природоохоронних заходів. До послуг
          екологічного характеру належать послуги, пов'язані з прийняттям і очищенням зворотних вод, прийняттям,
          збереженням і знешкодженням відходів, рекультивацією земель, проведенням науково-дослідних робіт
          природоохоронного спрямування тощо. Із загальної суми надходжень коштів за здійснення екологічних послуг
          виділяється частина коштів, яка надійшла від підприємств житлово-комунальної сфери за надання природоохоронних
          послуг населенню, зокрема за очищення зворотних вод і поводження з відходами.</p>

        <p><b>Оплата послуг природоохоронного призначення</b> – платежі спеціалізованим організаціям (підприємствам) за
          відведення й очищення зворотних вод, збирання та перероблення відходів, рекультивацію земель, зняття,
          зберігання, використання родючого шару ґрунту, оплату консультаційних послуг тощо. Екологічні штрафи та
          відшкодування збитків і втрат сюди не входять. Із загальної суми сплачених природоохоронних послуг виділяється
          сплата коштів за надання послуг, які здійснювались державними та комунальними підприємствами.</p>

      </div>

    </div>

    <h4 class="main__subtitle">Скорочення та умовні позначення:</h4>

    <div class="main__text">
      <p><b>ДСС</b> – Державне статистичне спостереження;</p>
      <p><b>КВЕД</b> – Класифікація видів економічної діяльності;</p>
      <p><b>КІСЕ</b> – Класифікація інституційних секторів економіки України;</p>
      <p><b>РСО</b> – Реєстр статистичних одиниць;</p>
      <p><b>СРП</b> – Статистичний реєстр підприємств;</p>
      <p><b>Т</b> – рік, у якому формується сукупність одиниць державного статистичного спостереження.</p>
    </div>

  </div>
</div>
