<div class="main-page">
  <div class="container">
    <div class="main-page__content">
      <h3 class="main-page__title title">Ми пропонуємо загальні та індивідуальні<br> аналітичні послуги в галузі екології</h3>

      <div class="main-page__in">

        <div class="main-page__text">
          <p> Statiseco об'єднує в собі екологічну інформацію, статистичні дані та аналітику щодо
            екологічних показників викидів, відходів, витрат та "зеленого росту" як на національному так і на міжнародному
            рівнях. Спеціалістами порталу проводяться дослідження щодо до впливу обєктивних та субєктивних чинників впливу
            на навколишнє природне середовище господарської діяльності юридичних осіб.</p>
          <p> Поряд з цим за даними ЄДРПОУ контрагента можливо отримати інформацію щодо екологічних наслідків його
            діяльності.</p>
        </div>
      </div>

      <div class="main-page__text">
        <p>Команда фахівців порталу здійснює постійне оновлення Statiseco і розробку нового успішного
          статистичного продукту у галузі екології.</p>
      </div>
    </div>

    <div class="main-page__feature">
      <p>Statiseco є надійним джерелом статистичної інформації та аналітичних даних та буде корисним як
        бізнес-аналітикам, так і постачальникам екологічних товарів, робіт та послуг, іншим категоріям споживачів.</p>
      <p class="main-page__author">Олександр Осауленко <br>Генеральний директор Statiseco, Україна</p>
    </div>

  </div>
</div>
