@import "../../../styles/variables";

ul {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-transform: uppercase;

  & li {
    padding: 0 5px;

    &:hover > app-menu > ul {
      display: flex;
    }

    & a {
      display: block;
      color: $gray;
      text-decoration: none;

      &:hover {
        color: $green;
      }
    }

    &:nth-child(8) > app-menu > ul {
      right: 0;

      li > app-menu > ul {
        left: -300px;
      }
    }

    & ul {
      display: none;
      position: absolute;
      width: 300px;
      flex-flow: column nowrap;
      box-shadow: 0 2px 10px -5px #363636;

      & li {
        background-color: white;
        border-bottom: 1px solid gray;
        padding: 5px;
        position: relative;

        & a {
          color: $green;
          padding: 10px;

          &:hover {
            background-color: #eef4ef;
          }
        }

        &:last-child {
          border-bottom: none;
        }

        &:hover > app-menu > ul {
          display: flex;
        }

        ul {
          display: none;
          position: absolute;
          width: 300px;
          left: 300px;
          top: 0;

          &:before {
            content: none;
          }

          li {
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
